body {
    margin:0;
    margin-top:24px;
    background-color: rgb(238, 242, 242);
}

.fb-img{
  text-align: center;
  font-size:40px;
  color: rgb(32, 119, 234);
  margin:0;
  font-family:bold;
}

.fb-quote{
  text-align:center;
  font-family: arial;
  font-weight: normal;
  font-size:15px;
  margin:0;
  margin-top:10px;
}

.login-container{
  background-color:white;
  margin: 20px auto;
  border:3px;
  border-radius:3px;
  width:220px;
  box-shadow:0 0 5px rgba(0, 0, 0, 0.1);
  padding:10px;
}

input{
  display:block;
  width:90%;
  outline:none;
  padding:10px;
  font-size:14px;
  border-radius:5px;
  border:1px solid rgba(0, 0, 0, 0.1);
  margin-top:10px;
}

.log-in{
  color:white;
  outline:none;
  display:block;
  width:100%;
  background-color:#1877f2;
  padding:10px;
  font-size:15px;
  margin-top:10px;
  border-radius:5px;
  border:none;
  font-weight:bold;
  cursor:pointer;
  
}

.forgot{
  text-align:center;
  margin:10px 0px;
  display:block;
  font-size:14px;
  text-decoration:none;
  font-family:arial;
  font-weight:normal;
  color: #1877f2;
}

.forgot:hover{
  text-decoration: underline;
}

hr{
  margin:15px 0px;
  opacity:0.3;
}

.create{
  color:white;
  outline:none;
  display:block;
  background-color:#42b72b;
  padding:10px 0;
  font-size:12px;
  margin:10px auto;
  border-radius:5px;
  border:none;
  font-weight:bold;
  cursor:pointer;
  padding:5px;
}

.bot-btn{
  text-align:center;
  font-size:10px;
  font-family:arial;
  font-weight:normal;
}
.page{
  text-decoration:none;
  color:black;
  font-weight:bold;
}
.page:hover{
  text-decoration:underline;
}
